#h1top{
    color: grey;
    text-align: center;
    font-size: 60px;
}

#text{
    font-size: 50px;
    text-align: center;
    color: black;
}

.img{
    display: block;
    margin: auto;
    width: 624px;
    height: 571px;
}